/*** Index CSS ***/
 /* * { border: 1px dotted red; } */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  /* 
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */

  --good: #1aac83;
  --bad: #e7195a;
  --primary-blue: #61DBFB;
  --secondary-blue: #49a4bc;
  --text-colour: #232323;
}

a {
  font-weight: 500;
  color: var(--primary-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-blue);
}

/* Centers everything (didn't like it)
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
} */

/*
h1 {
  font-size: 2.4em;
  line-height: 1.1;
} */

/*** App.css ***/

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}*/



/*** Custom CSS ***/

body {
  background: #f1f1f1;
  margin: 0;
}

header {
  background: #fff;
}

header .navbar-container {
  /*max-width: 1400px;*/
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  align-items: center;
  gap: 2em;
  /* justify-content: space-between; */
}

.navbar-content {
  color: black;
}

.pages {
  /*max-width: 1400px;*/
  padding: 1em;
  margin: 0 auto;
}

.inventory-page .edit-inventory-page .add-inventory-page  {
  display: grid;
  /* ** Used when form was on same page as inventory page **
  grid-template-columns: 3fr 1fr;
  gap: 3em;  *** was 100px */
}

.inventory-div {
  overflow-x: auto;
}
.inventory-table {
  border-collapse: collapse;
   width: 100%;
  /* box-shadow: 2px 2px 5px #111; */
  background-color: white;
}

.inventory-table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.inventory-table tr:nth-child(even){background-color: #f2f2f2;}

.inventory-table tr:hover {background-color: #ddd;}

.inventory-table th {
  text-align: left;
  background-color: var(--secondary-blue);
  color: white;

  padding: 8px;
  border: 1px solid;
}

.button-link {
  color: inherit;
  text-decoration: inherit;
}