/*** Index CSS ***/
/*  * { border: 1px dotted red; } */

 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 95%;

  /* 
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */

  --positive: #1aac83;
  --negative: #e7195a;
  --primary-blue: #61DBFB;
  --secondary-blue: #49a4bc;
  --text-colour: #232323;
}

a {
  font-weight: 500;
  color: var(--primary-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-blue);
}

/* Centers everything (didn't like it)
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
} */

/*
h1 {
  font-size: 2.4em;
  line-height: 1.1;
} */

/*** App.css ***/

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}*/



/*** Custom CSS ***/

body {
  background: #f1f1f1;
  margin: 0;
}

header {
  background: #fff; /*
  display: flex;
  align-items: center;
  height: 60px;  Adjust as necessary */
}

header .navbar-container {
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 100%;
}

.navbar-child {
  display: flex;
  align-items: center; /* Ensures the items are centered vertically */
}

.navbar-content {
  color: black;
  margin-left: 1em;
  display: flex;
  align-items: center; /* Ensures the text within the links is centered vertically */
  height: 100%;
}

nav {
  display: flex;
  align-items: center; /* Ensures the links are centered vertically */
  padding: 0em 1em;
}

nav a {
  display: flex;
  align-items: center; /* Ensures the text within the links is centered vertically */
}

.pages {
  /*max-width: 1400px;*/
  padding: 1em;
  margin: 0 auto;
  display: grid;
}

.inventory-page, .edit-inventory-page, .add-inventory-page, .groups-page, .edit-group-page, .add-group-page, .home-page, .signup-page {
  display: grid;
  /* ** Used when form was on same page as inventory page **
  grid-template-columns: 3fr 1fr;
  gap: 3em;  *** was 100px */
}

.create-inventory-form, .edit-inventory-form, .create-group-form, .edit-group-form, .signup-form {
  /*background-color: white;*/
}

.error-msg {
  padding: 0.6em;
  background: #ffefef;
  border: 1px solid var(--negative);
  color: var(--negative);
  border-radius: 0.2em;
  /* cursor: pointer; 
  margin: 0.4em; */
}

.error {
  border: 1px solid var(--negative);
}

.inventory-table-container, .groups-table-container {
  overflow-x: auto;
}

.inventory-table {
  border-collapse: collapse;
   width: 100%;
  /* box-shadow: 2px 2px 5px #111; */
  background-color: white;
}

.inventory-table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.inventory-table tr:nth-child(even){background-color: #f2f2f2;}

.inventory-table tr:hover {background-color: #ddd;}

.inventory-table th {
  text-align: left;
  background-color: var(--secondary-blue);
  color: white;

  padding: 8px;
  border: 1px solid;
}

.button-link {
  color: inherit;
  text-decoration: inherit;
}

.button-default:hover{
  color: var(--secondary-blue);
  cursor: pointer;
}